body 
{
  padding-top: 54px;
}

.footer 
{
  position: relative;
  clear: both;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: darkgray;
}

/* .profile 
{
  border-radius: 50px; 
  height: 5px;
  margin-top: 150px;
} */

#name 
{
  color: white;
  font-size: large;
  margin-top: 08px;
}

.ace-editor 
{
  height: 443px;
}

.answer 
{
  padding-top: 30px;
  color: #dc3545;
  font-style: italic;
}

@media (min-width: 992px) 
{
  body 
  {
    padding-top: 56px;
  }
}

img 
{
  height: 45px;
  border-radius: 30px;
}

h2 
{
  color: white;
  padding-top: 3px;
}

.logo 
{
  display: inline-flex;
}

.logout 
{
  display: inline-flex;
  position: absolute;
  right: 20px;
}

.nav-link 
{
  font-size: large;
}

#dropdownMenuButton
{
  color: white;
}

nav
{
  height: 50px;
}
